@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 2em;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

.header {
  background-color: #15317E;
}

.header-inner {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu-button {
  display: none;
}

.header-logo {
  display: block;
  width: 170px;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li{
  margin-right: 20px;
  margin-left: 20px;
}

.site-menu ul li a {
  font-weight: bold;
}

/* footer */
.footer {
  color: #fff;
  background-color: #15317E;
  padding-top: 30px;
  padding-bottom: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer-logo {
  display: block;
  width: 235px;
  margin-top: 90px;
}

.footer-text01 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
}

.footer-text02 {
  font-size: 13px;
  margin-top: 16px;
  text-align: center;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  margin-top: 90px;
}

@media (max-width: 800px) {
  .site-menu ul {
    display: block;
    text-align: center;
  }
  
  .site-menu li {
    margin-top: 20px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #15317E;
    height: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
  }

  .header-logo {
    width: 100px;
  }

  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: #736E62;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
  }

  .header-site-menu.is-show {
    display: block;
  }

  .toggle-menu-button {
    display: block;
    width: 44px;
    height: 34px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    position: relative;
  }

  .toggle-menu-button span {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 6px;
    left: 0;
    background: #ffffff;
  }

  .main {
    padding-top: 50px;
  }

  .footer-logo {
    margin-top: 60px;
  }

  .footer-text01 {
    font-size: 20px;
  }

  .copyright {
    margin-top: 50px;
  }

}
